<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name ="CollegeDBConnection" connectionString="Data source = LAPTOP-23R6LDVR\MSSQLSERVER2017; Initial Catalog=CollegeDB; User ID = sa; Password = lasalle;"/>
  </connectionStrings>
</configuration>